<%- include("./header.ejs") %>
    <div style="width: 90%; margin: auto;">
        <h3>
            Task Deadline Missed By <%- name %>
        </h3>
        <div style="margin-top: 30px;width: 100%;">
            <p>Details:</p>
            <table style="width: 100%;" style="border: 1px solid #ccc; border-collapse: collapse;">
                <thead style="border: 1px solid rgb(163, 163, 163);height: 40px;">
                    <tr>
                        <th style="border: 1px solid #ccc; border-collapse: collapse;padding:5px;">#</th>
                        <th style="border: 1px solid #ccc; border-collapse: collapse;padding:5px;">Title</th>
                        <th style="border: 1px solid #ccc; border-collapse: collapse;padding:5px;">Due Date</th>
                        <th style="border: 1px solid #ccc; border-collapse: collapse;padding:5px;">Appointed By</th>
                    </tr>
                </thead>
                <tbody>
                    <% tasks.forEach(task=>{ %>
                        <tr style="height: 40px;">
                            <td style="border: 1px solid #ccc; border-collapse: collapse;padding:5px">
                                <%- tasks.indexOf(task)-(-1) %>
                            </td>
                            <td style="border: 1px solid #ccc; border-collapse: collapse;padding:5px">
                                <%- task.title %>
                            </td>
                            <td style="border: 1px solid #ccc; border-collapse: collapse;padding:5px">
                                <%- task.date %>
                            </td>
                            <td style="border: 1px solid #ccc; border-collapse: collapse;padding:5px">
                                <%- task.admin %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <%- include("./footer.ejs") %>